{% load static %} <!--- Built-in helper in Django to load static; short-hand syntax --->

<!-- Header Start-->
{% block headerinclude %}

<title>Sign Up </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" type="text/css" href= "{% static 'css/styles.css' %}"/>
<style>
  body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
  body {font-size:16px;}
  .w3-half img {margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
  .w3-half img:hover {opacity:1}
</style>

{% endblock headerinclude %}
<!-- Header End -->

<!-- Content/Body Start -->
{% block content %} <!----------------------------------------------------------------->

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <img src="{% static 'images/blood-donation.png' %}" style="width:50%; margin-bottom: -65px;" alt="Logo">
    <h2 class="w3-padding-64"><b>Blood Bank<br style="display: block; content: ''; margin-top: -7px;">System</b></h2>
  </div>
<div class="w3-bar-block">
    <a href="{% url 'myapp1:my_index_view' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a href="{% url 'myapp1:features_view' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Features</a> 
    <a href="{% url 'myapp1:aboutus_view' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">About Us</a> 
    <a href="{% url 'myapp1:contactus_view' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact Us</a> 
    <a href="{% url 'myapp1:signin_view' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Sign In</a> 
    <a href="{% url 'myapp1:signup_view' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Sign Up</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Company Name</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <div class="w3-container" id="contact" style="margin-top:75px">
    <form id = "form1" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="container">
        <img src="{% static 'images/here-i-am.png' %}" style="width: 65px; float: left; margin-right: 8px;">
        <h1 class="w3-xxxlarge w3-text-red" style="font-weight: bold;">SIGN UP</h1>
        <a href="{% url 'myapp1:my_index_view' %}" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" style="float: right; font-size: 18px; font-weight: bold; margin-top: -50px; margin-left: 18px;width: 30.5%; border-radius: 8px;" onclick="w3_close()" >Go back</a>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p>Please fill in this form to add a sign up. All fields are required.</p>
        <hr>
        <div class = "row">
        <div class = "col-sm-3">       
        <input type="text" class="form-control" id="username" name = "username" placeholder="Username" required>
        </div>
        <div class = "col-sm-3">
        <input type="password" id="password" name="password" placeholder="Password" minlength="8" required>
        </div>
        <div class = "col-sm-3">
        <hr>
        <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" style="font-size: 23px; font-weight: bold; letter-spacing: 5px; border-radius: 8px;">REGISTER</button>
      </div>
      </div>
    <div class="container_sign">
          <p>Already have an account? <a href="#">Sign in</a>.</p>
        </div>
      </form>
    
    </form>
  </div>

<!-- End page content -->
</div>


{% endblock content %} <!------------------------------------------------------------->
<!-- Content/Body End -->

<!-- Footer Start -->
{% block footerinclude %} <!---------------------------------------------------------->

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top: 75px; padding-right: 58px; position: relative; right: 0; bottom: 0; width: 100%;"><p class="w3-right">Otsuki, McWayne Q. CSIT327 G1-C1 A.Y. 2021-2022</p></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

function myFunction() {
  alert("You're successfully registered!");
}
</script>

{% endblock footerinclude %} <!-------------------------------------------------------->
<!-- Footer End -->
